@model Phase3SchoolDbAzure.Models.StatisticsViewModel

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>
<div>
    <p>Average Score: @Model.AverageScore</p>
    <p>Highest Score: @Model.HighestScore</p>
    <p>Lowest Score: @Model.LowestScore</p>
</div>